<% include partials/header.ejs %>
    <ul class="list-group">
        <% todoArray.forEach(function(element){ %>
            <li class="list-group-item">
                <%= element.to_do %>
            </li>
            <% }) %>
    </ul>
    <%include partials/footer.ejs>