<% include partials/header.ejs %>
    <div class="container">
        <div class="jumbotron">
            <h2>enter new todo string</h2>
        </div>
    </div>
    <div class="container">
        <form class="form-group" action="/results" method="get">
            enter todo item<br>
            <input class="form-control" name="todo" type="text"><br>
            <button class="btn btn-success" type="submit">submit</button>
        </form>
    </div>
    <br>
    <hr>
    <div class="container">
        <div class="jumbotron">
            <h2>Modify existing entry here</h2>
        </div>
    </div>
    <div class="container">
        <form class="form-group" action="/modify" method="get">
            enter task to be modified<br>
            <input class="form-control" name="modTask" type="text"> <br> enter modified task<br>
            <input class="form-control" name="taskMod" type="taskMod"><br>
            <button class="btn btn-warning" type="submit">modify </button>
        </form>
    </div>
    <div>
        <hr>
    </div>
    <div class="container">
        <form class="form-group" action="/delete" method="get">
            <ul>

                <% todoArray.forEach(function(element){ %>
                    <li class="list-group-item">
                        <input type="checkbox" name="check" value="<%= element.to_do %>">
                        <%= element.to_do %>
                    </li>
                    <% })%>
            </ul>
            <input class="btn btn-danger" type="submit" value="delete">
        </form>
    </div>
    <% include partials/footer.ejs %>